<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.StudentMapper">
	<select id="selectStudentBySno" parameterType="String" resultType="com.po.Student">
		select * from stu where sno=#{sno};
	</select>
	<select id="selectStudentBySname" parameterType="String" resultType="com.po.Student">
		select * from stu where sname like concat('%',#{sname},'%');
	</select>
	<insert id="insertStudent" parameterType="com.po.Student">
		insert into stu(sno,sname,ssex,snative,mno) values(#{sno},#{sname},#{ssex},#{snative},#{mno});
	</insert>
	<delete id="deleteStudent" parameterType="String">
		delete from stu where sno=#{sno}
	</delete>
	<update id="updateStudent" parameterType="com.po.Student">
		update stu set sname=#{sname},ssex=#{ssex},snative=#{snative},mno=#{mno} where sno=#{sno}
	</update>
	
	
	
	<!-- 实验5分界线 -->
	<select id="selectStudent" parameterType="com.po.Student" resultType="com.po.Student">
		<bind name="search_sname_key" value="'%'+sname+'%'"/>
		select * from stu
		<if test="sno!=''">
			and sno=#{sno}
		</if>
		<if test="sno=null or sno=''">
			and sname like #{search_sname_key}
		</if>
	</select>
	
	<select id="selectStudentByList" parameterType="List" resultType="com.po.Student">
		select * from stu where sname in
		<foreach item="sname" index="index" collection="list" open="(" separator="," close=")">
			#{sname}
		</foreach>
	</select>
</mapper>






