<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<configuration>
		<properties resource="db.properties" />
		<typeAliases name="com.po">
			<package name="com.po"/>
		</typeAliases>
		
		<environments default="mysql">
			<environment id="mysql">
				<transactionManager type="JDBC"/>
				<dataSource type="POOLED">
					
				</dataSource>
			</environment>
		</environments>
	</configuration>