<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Start</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HelloWorldServlet</servlet-name>
    <servlet-class>New.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorldServlet</servlet-name>
    <url-pattern>/HelloWorldServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestMethodServlet</servlet-name>
    <servlet-class>New.RequestMethodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestMethodServlet</servlet-name>
    <url-pattern>/RequestMethodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConfigInterface</servlet-name>
    <servlet-class>New.ConfigInterface</servlet-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigInterface</servlet-name>
    <url-pattern>/ConfigInterface</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>companyName</param-name>
    <param-value>APPLE.Inc</param-value>
  </context-param>
  <context-param>
    <param-name>address</param-name>
    <param-value>GuangZhou</param-value>
  </context-param>
  <servlet>
    <servlet-name>TestServlet03</servlet-name>
    <servlet-class>New.TestServlet03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet03</servlet-name>
    <url-pattern>/TestServlet03</url-pattern>
  </servlet-mapping>
</web-app>